.Comments-full {
  margin-top: 5%;
}

.Comment-box {
  border: 1px dotted black;
  width: 100%;
  margin-top: 1%;
  padding: 1%;
  border-radius: 0.5em;
}

.Comment-user {
  font-size: 0.9em;
  font-weight: bold;
}

.Comment-content {
  font-size: 1.1em;
}

.Comment-form {
  padding-top: 2%;
  margin-top: 2%;
  font-size: 0.8em;
  border: 1px dotted black;
  border-radius: 0.5em;
}