.Videos-full {
    margin-top: 100px;
    margin-left: 50px;
}

.Videos-header {
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: black;
}

.Videos-row {
    margin-bottom: 20px;
    margin-right: 10px;
}