.Videos-full {
    padding-top: 5%;
    margin-left: 5%;
    margin-right: 10%;
    overflow: hidden;
    z-index: -1;
}

.Videos-header {
    margin: 2%;
    text-align: left;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Videos-all {
    margin: 1%;
}

.Video-container {
    border: 1px dotted white;
    margin: 1%;
    height: 200px;
}