.Upload-full {
  font-family: 'Roboto';
}

.Upload-header {
  text-align: center;
  font-size: calc(10px + 2vmin);
  font-family: 'Roboto';
}

.Upload-form {
  display: flex;
  flex-direction: column;
}