.Video-container {
  margin-bottom: 10%;
  height: 200px;
  color: white;
}

.Video-thumbail {
  width: 100%;
  border: solid 1px white;
  margin: auto 0;
  height: 80%;
  overflow: hidden;
}

.Video-thumbail:hover {
  cursor: pointer;
  border: solid 1px blue;
}


.Video-title {
  font-size: 1.1em;
}

.Video-uploader {
  font-size: 0.8em;
}

.Video-full {
  margin: 5%;
}

.Video-overlay {
  background: rgba(0,0,0,0.7);
}

.Video-modal {
  background-color:  rgba(255,255,255,1);
  width: 100%;
}

.Comment-box {
  border: 1px dotted black;
  width: 100%;
  padding: 1%;
  border-radius: 0.5em;
}

.Comment-user {
  font-size: 0.9em;
  font-weight: bold;
}

.Comment-content {
  font-size: 1.1em;
}

.Comment-form {
  padding-top: 2%;
  margin-top: 2%;
  font-size: 0.8em;
  border: 1px dotted black;
  border-radius: 0.5em;
}