.VideoContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 10px #DDD;
}

.VideoContainer-thumbnail {
  width: 100%;
}

.VideoContainer:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #333;
}

.VideoContainer-info {
  padding-right: 5px;
  padding-left: 5px;
}

.VideoContainer-title {
  padding-left: 2px;
  font-size: 1.2em;
}

.VideoContainer-uploader {
  padding-left: 2px;
  font-size: 0.9em;
}

.VideoContainer-views {
  font-size: 0.8em;
  color: #555;
}

.VideoContainer-value {
  font-size: 0.8em;
  color: #555;
}