.Video-container {
  padding-top: 10px;
  padding-bottom: 20px;
  border-radius: 10px;
  font-family: sans-serif;
  background-color: #F5F5F5;
  box-shadow: 1px 1px 10px #DDD;
}

.Video-thumbnail {
  width: 100%;
}

.Video-container:hover {
  cursor: pointer;
  box-shadow: 1px 1px 10px #333;
}


.Video-title {
  padding-left: 2px;
  font-size: 1.2em;
}

.Video-uploader {
  padding-left: 2px;
  font-size: 0.8em;
}

.Video-overlay {
  background: rgba(0,0,0,0.7);
}

.Video-modal {
  margin-top: 50px;
  background-color:  rgba(255,255,255,1);
  width: 100%;
}

.Video-viewer {
  width: 100% !important;
  height: 100% !important;
}

.Comments-full {
  margin-top: 5%;
}

.Comment-box {
  border: 1px dotted black;
  width: 100%;
  margin-top: 1%;
  padding: 1%;
  border-radius: 0.5em;
}

.Comment-user {
  font-size: 0.9em;
  font-weight: bold;
}

.Comment-content {
  font-size: 1.1em;
}

.Comment-form {
  padding-top: 2%;
  margin-top: 2%;
  font-size: 0.8em;
  border: 1px dotted black;
  border-radius: 0.5em;
}